iframe {
    display: block;
    width: 100%;
}

html,
body {
    font-size: 14px !important;
}

.h1 {
    font-size: 1.602em;
}

.h2 {
    font-size: 1.424em;
}

.h3 {
    font-size: 1.266em;
}

.h4 {
    font-size: 1.125em;
}

.h5 {
    font-size: 0.889em;
}

.h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}


.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 6px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

.return-to-top:hover i {
    color: #fff;
    top: 1px;
}

.bg-hadi-cover {
    max-width: 100%;
    height: 500px;
    background: url(../Hadi.jpg);
    background-size: cover;
    margin: 0.2em;
    background-position-x: 0em;
}

.bg-mas-cover {
    max-width: 100%;
    height: 500px;
    background: url(../Mas.jpg);
    background-size: cover;
    margin: 0.2em;
    background-position-x: -1em;
}

@media screen and (max-width: 900px) {

    .bg-mas-cover {
        max-width: 100%;
        height: 500px;
        background: url(../Mas.jpg);
        background-size: cover;
        margin: 0.2em;
        background-position-x: -9em;
    }
}

@media screen and (max-width: 600px) {

    .return-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 45px;
        height: 45px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 14px;
        top: 6px;
        font-size: 30px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .bg-hadi-cover {
        width: 48%;
        height: 300px;
        background: url("../Hadi.jpg");
        background-size: cover;
        margin: 0.2em;
        background-position-x: -1em;
    }
    .bg-mas-cover {
        width: 48%;
        height: 300px;
        background: url("../Mas.jpg");
        background-size: cover;
        margin: 0.2em;
        background-position-x: -6em;
    }
}



@media (min-width: 48em) {
    .h1 {
        font-size: 2.441em;
    }
    .h2 {
        font-size: 1.953em;
    }
    .h3 {
        font-size: 1.563em;
    }
    .h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
}

/* Large devices (desktops, 62em and up) */

@media (min-width: 62em) {
    html,
    body {
        font-size: 16px !important;
    }
}

/* Extra large devices (large desktops, 75em and up) */

@media (min-width: 75em) {
    html,
    body {
        font-size: 18px !important;
    }
}



.sticky-action {
    box-shadow: 0 2px 8px rgba(0,0,0,.7);
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 400px;
    padding: 5px 0;
    z-index: 10;
    font-weight: 400;
    font-style: normal;
}

img[class~=whatsapp] {
    /* height: .239583333in; */
    /* height: 24px; */
    /* margin: 0px -12px 2px -7px; */
    height: 50px;
    /* box-shadow: 2px 2px 9px #999;
    border-radius: 50px;
    background-color: #25d366; */
}

img[class~=phone] {
    height: 18px;
    margin-left: 5px;
    /* margin: 14px; */
}

img[class~=call] {
    height: 23px;
    margin: 14px;
}

img[class~=google] {
    /* display: block; */
    margin: 2px 3px 1px 1px;
    height: 22px;
}

img[class~=apple] {
    /* display: block; */
    margin: 0px 6px 4px 0px;
    height: 21px;
}

.whatsapp-text{
    font-size: 20px;
    padding-left: 15px;
}

.call-text{
    font-size: 20px;
    padding-left: 15px;
}

.ga-contact-call{
    display: block;
}

.contact{
    /* border-radius: 25px; */
    padding-top: 2px;
    padding-bottom: 2px;
}

.crop {
    max-width: 375px; 
    overflow: hidden; 
}

/* .bg-cover {
    width: 200px;
    height: 300px;
    background: url("../Hadi.jpg");
    background-size: cover;
    outline: 1px solid red;
  } */

.crop img { 
    max-width: initial; /* Maybe optional. See note below */ 
}

.float{
	/* position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px; */
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    /* font-size: 30px; */
    box-shadow: 2px 2px 3px #999;
    /* z-index: 100; */
    padding: 6px;
}



/* COLORING */

.text-walimah {
    color: #b299cb !important;
}

.text-tarikh {
    color: #abb9ca !important;
}

.text-dark {
    color: #2d527c !important;
}

h2, .h2 {
    font-size: 2rem;
}

.text-title {
    font-weight: bolder;
}

.filter-fade-in {
    overflow: hidden;
    position: relative;
}

.filter-fade-in:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(#ffffff, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.bg-primary {
    background-color: #b299cb !important;
}




/* ----- countdown ----- */
body{
	/* text-align: center; */
	/* background: #00ECB9; */
  /* font-family: sans-serif; */
  /* font-weight: 100; */
}

.clock-text{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
    /* background: #00BF96; */
    background: #b299cc;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #8b71a2;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}