iframe {
    display: block;
    width: 100%;
}

.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 6px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

.return-to-top:hover i {
    color: #fff;
    top: 1px;
}

html,
body {
    font-size: 14px !important;
}

.h1 {
    font-size: 1.602em;
}

.h2 {
    font-size: 1.424em;
}

.h3 {
    font-size: 1.266em;
}

.h4 {
    font-size: 1.125em;
}

.h5 {
    font-size: 0.889em;
}

.h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

@media (min-width: 48em) {
    .h1 {
        font-size: 2.441em;
    }
    .h2 {
        font-size: 1.953em;
    }
    .h3 {
        font-size: 1.563em;
    }
    .h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
}

/* Large devices (desktops, 62em and up) */

@media (min-width: 62em) {
    html,
    body {
        font-size: 16px !important;
    }
}

/* Extra large devices (large desktops, 75em and up) */

@media (min-width: 75em) {
    html,
    body {
        font-size: 18px !important;
    }
}

/* // Pen Specific Styles
.jumbotron {
    font-size: 16px;
    @media (min-width: 62em) {
        font-size: 20px;
    }
    h1 {
        border-bottom: 4px solid #0275d8;
    }
    p.lead {
        border-radius: 4px;
    }
} */